body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(Media/BackGround1.png);
    background-position: center;
    background-size: cover;
    font-family:"Century Gothic", sans-serif;
}

.competences-container {
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(253, 107, 117);
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

.competence {
    margin: 15px 0;
}

.competence h2 {
    color: #e03d45;
}

.competence p {
    color: #555;
}
